body {
  background: #EFEFEF;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding:0;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.TopNavBar {
  padding: 20px 0px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.TopNavBar-inner {
  padding: 0 16px;
}

.TopNavBar a {
  float: left;
}

.TopNavBar nav {
  float: right;
  padding-top: 6px;
  padding-bottom: 2px;
}

.TopNavBar nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TopNavBar nav>ul>li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.TopNavBar nav>ul>li>a {
  font-size: 12px;
  color: #CCCED1;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.TopNavBar nav>ul>li>a:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #E8676B;
}

.TopNavBar .logo {
  font-size: 24px;
  font-family: "Arial Black";
  padding-top: 3px;
  padding-bottom: 4px;
}

.TopNavBar .logo .rs {
  margin-right: 4px;
  color: #E8676B;
}

.TopNavBar .logo .card {
  color: #9A9DA2;
}

.banner {
  height: 515px;
  background-image: url(./img/rs-cover-2-2-1-1.jpg);
  background-position: center center;
  background-size: cover;
}

.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.userCard .picture {
  float: left;
}

.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.userCard .text h1 {
  margin-top: 20px;
}

.userCard .text p {
  margin-top: 7px;
}

.userCard .text hr {
  margin: 20px 0;
}

.userCard .pictureAndtext {
  padding: 50px;
}

.userCard .wellcome {
  background: #E8676B;
  color: white;
  display: inline-block;
  padding: 4px 15px;
  line-height: 22px;
  position: relative;
  margin-bottom: 8px;
}

.userCard .wellcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #E8676B;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}

.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 9px 0;
}

.userCard dl dt {
  width: 30%;
  font-weight: bold;
}

.userCard dl dd {
  width: 70%;
  color: #9DA0A7;
}

.userCard>footer.media {
  background: #E8676B;
  text-align: center;
}

.userCard>footer.media>a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}

.userCard>footer.media>a:hover {
  background: #D05C60;
}

.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}